html {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #171717;
    text-align: center;
}
header {
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
}
h1 {
    font-size: 30px;
    margin: 5px;
}
h2 {
    font-size: 21px;
    margin: 5px;
}
h2 a {
    text-decoration: none;
    color: #171717;
}
h3 {
    font-size: 18px;
    margin: 20px;
}
/* Calculator Section */
.container {
    height: 600px;
    width: 400px;
    margin: auto;
}
#calculator {
    border: 3px solid #cccccc;
    border-radius: 2px;
    width: 100%;
    height: 100%;
}
#output {
    height: 35%;
    position: relative;
    background-color: #f4fdfb;
}
.calculator-screen {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 13px;
    margin-bottom: 3px;
    font-size: 45px;
    font-family: 'Noto Sans SC', sans-serif;
    border: 0;
    background-color: #f4fdfb;
    text-align: right;
    width: 95%;
}
#calculatorInput {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    height: 65%;
    justify-items: center;
    align-items: center;
}
button {
    outline: none;
}
button:hover {
    cursor: pointer;
}
/* general button design */
.input:not(#zeroBtn) {
    background-color: #EFEFEF;
    border: none;
    color: #171717;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 10%;          
    align-items: center;      
    justify-content: center; 
    justify-self: center;
    font-size: 25px;
    font-weight: bold;
}
.operators {
    font-size: 30px !important;
}
.edge {
    background-color: #FFEDC3 !important;
    color: #ca932c !important;
}
#zeroBtn {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #EFEFEF;
    border: none;
    color: #171717;
    text-align: center;
    height: 80%;
    width: 80%;
    border-radius: 10%;          
    align-items: center;      
    justify-content: center; 
    justify-self: center;
    font-size: 25px;
    font-weight: bold;
}
#equalBtn {
    background-color: #FDC239 !important;
    color: #ca932c !important;
}